
{% extends "../base.html" %}

{% block title %}
Login
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row centered py-5 align-items-center justify-content-center">
        
        <form  class="col-md-6 " action="" method="POST"  novalidate >
            {% csrf_token %}

            <div class="form-group my-5">
                <h2 class=" text-center text-muted text-dark">Login to your account</h2>
                <hr>
            </div> 

            <div class="form-group my-5">
                {% include "./message.html" %}
            </div>  

            <div class="form-group my-2">
                <label for="">Username or Email :</label>
                {{form.username}}
                {{form.username.errors}}
            </div>

            <div class="form-group my-2">
                <label for="">Password :</label>
                {{form.password}}
                {{form.password.errors}}
            </div>

            <div class="form-group d-grid gap-2 my-4">
                <button type="submit" class="btn btn-dark ">Login</button>
            </div> 
            
          <div class="my-3 mb-2 d-flex align-items-center justify-content-center">
            <p class='m-0'>Don't have an account ? Please <a class="text-decoration-none px-2" href="{% url "registration" %}">Register Here</a></p>
          </div>
            
          <div class="my-3 mb-2 d-flex align-items-center justify-content-center">
            <p class='m-0'><a class="text-decoration-none px-2" href="{% url "password_reset" %}">Forget Password ?</a></p>
          </div>

            
        </form>
    </div>
</div>


{% endblock content %}